<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Base2art.Collections" version="1.0.0.1" targetFramework="net40-Client" />
  <package id="FluentAssertions" version="3.2.1" targetFramework="net40-Client" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net40-Client" />
  <package id="NUnit" version="2.6.3" targetFramework="net40-Client" />
  <package id="Owin" version="1.0" targetFramework="net40-Client" />
</packages>