Output
*.bak
scrap
obj
bin
*.sou
*.suo
*.user
*.cache
scripts
packages
*.DotSettings
OpenCover
ProfilingSessions
*.snk

scrap
src/Base2art.Soufflot/StyleCopViolations.xml
src/Base2art.Soufflot.Http.Owin/StyleCopViolations.xml
src/Base2art.Soufflot.MonkeyTail/StyleCopViolations.xml
