<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Base2art.Bcl" version="1.0.0.0" targetFramework="net451" />
  <package id="Base2art.Collections" version="1.0.0.1" targetFramework="net451" />
  <package id="Base2art.Keys" version="1.0.0" targetFramework="net451" />
  <package id="Base2art.MonkeyTail.Api" version="1.0.0.0" targetFramework="net451" />
  <package id="Base2art.MonkeyTail.Compiler.Console" version="1.0.0.0" targetFramework="net451" />
  <package id="Base2art.PlayN" version="1.0.0.0" targetFramework="net451" />
  <package id="Base2art.PlayN.Extensions" version="1.0.0.0" targetFramework="net451" />
  <package id="Base2art.PlayN.Http.Owin" version="1.0.0.0" targetFramework="net451" />
  <package id="Base2art.Serialization" version="1.0.0.1" targetFramework="net451" />
  <package id="Base2art.Validation" version="1.0.0.0" targetFramework="net451" />
  <package id="CommandLineParser" version="2.0.275-beta" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.SelfHost" version="3.0.1" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
</packages>